<%# CSS・・・assets/stylesheets/users/registration.scss %>
<%= render "shared/header" %>
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
  <h1 class="registration_theme_title">WELCOME! PLEASE SIGN UP TO LEARN. </h1>
  <%= render "devise/shared/error_messages", model: f.object %>

  <%#在籍番号%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">在籍番号</label>
    </div>
    <div class="form_indispensable">
      <%= f.text_field :certificate_number, class:"input-default", id:"certificate-number", placeholder:"Ex）012345", minlength:"6", maxlength:"6", autofocus: true %>
    </div>
  </div>

  <%# メールアドレス %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"examle@example.com", type: "email" %>
  </div>

  <%#  現在のパスワード %>
  <div class="current_password_box">
  <% if user_signed_in? %>
    <div class="field">
      <%= f.label :current_password %> （更新に必要ですので、必ずご入力お願いいたします。）<br>
      <%= f.password_field :current_password, class:"input-default", id:"current_password", placeholder:"現在設定済みのパスワード" %>
    </div>
    <div class="password_field">
      <input type="checkbox" id="current_password_checkbox">
      <label for="current_password_checkbox">  「現在のパスワード」を表示する</label>
    </div>    
  <% end %>
  </div>

  <%# パスワード %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字：英数字両方を入力してください" %>
  </div>
  <div class="password_field">
    <input type="checkbox" id="password_checkbox_1">
    <label for="password_checkbox_1">  パスワードを表示する</label>
  </div>

  <%# パスワード確認 %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">確認用パスワード</label>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい " %>
  </div>
  <div class="password_field">
    <input type="checkbox" id="password_checkbox_2">
    <label for="password_checkbox_2">  確認用パスワードを表示する</label>
  </div>

  <%#氏名%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_field :last_name, class:"input-name", id:"last-name", placeholder:"例) 物知", maxlength:"10" %>
      <%= f.text_field :first_name, class:"input-name", id:"first-name", placeholder:"例) 太郎", maxlength:"10" %>
    </div>
  </div>

  <%#ヨミガナ%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_field :last_name_kana, class:"input-name", id:"last-name-kana", placeholder:"例) モノシリ", maxlength:"40" %>
      <%= f.text_field :first_name_kana, class:"input-name", id:"first-name-kana", placeholder:"例) タロウ", maxlength:"40" %>
    </div>
  </div>

  <%#学部・学科%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">学部・学科</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class:"department-select"}) %>
    </div>
  </div>

  <%#性別%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">性別</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.collection_select(:sex_id, Sex.all, :id, :name, {}, {class:"sex-select"}) %>
    </div>
  </div>

  <%#在籍区分%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">在籍区分</label> 
    </div>
    <div class='input-name-wrap'>
      <%= f.collection_select(:position_id, Position.all, :id, :name, {}, {class:"position-select"}) %>
    </div>
  </div>

  <%#プロフィール%>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">プロフィール</label>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :profile, class:"input_profile_box", id:"profile", placeholder:"3000字以内で入力してください。", maxlength:"3000" %>
    </div>
  </div>

  <%#プロフィール画像%>
  <div class="weight-bold-text">プロフィール画像</div>
  <div class="img-upload">
    <%= f.file_field :image, :class => 'upload_profile_icon',id:"user-image" %>
    <div id="image_list">
      <%= image_tag @user.image,:class => 'profile_icon', id: 'image' if @user.image.present? %> 
    </div>
  </div>

  <%#提出ボタン%>
  <div class='register-btn'>
    <%= f.submit "REGIST YOUR PROFILE " ,class:"register-red-btn", :id => "register-red-btn" %>
  </div>
  
<% end %>
