<%# CSS・・・assets/stylesheets/articles/new.scss %>
<%= render "shared/header" %>

<div class="new_article_editor_wrap">
<div class="dammy">
  <div class="new_article_editor">
    <h1 class="post_title">POST A NEW ARTICLE</h1>

    <%= form_with(model: @article, url: article_path(@article.user_id), local: true) do |f| %>
      <%= render "shared/error_messages", model: f.object %>

      <div class="new_article_editor_title", id="article_title">
        <%= f.label :Title, {class: 'label_new_article_title_editor'} %> <br>
        <%= f.text_field :title, placeholder: '    Type a title...', autofocus: true, :class => 'new_article_title_editor_box' %>
      </div>
      
      <div class="new_article_editor_content", id="article_text">
        <%= f.label :Content, {class: 'label_new_article_content_editor'} %>
        <%= f.rich_text_area :content, placeholder: '    Type a content...',:class => 'new_article_content_editor_box' %>
      </div>
      <div class='post_article'>
        <%= f.submit "EDIT ARTTICLE" , class:"post_article_btn", id:"post_article_btn" %>
      </div>
    <% end %>
  </div>
</div>
</div>
<%#<%= render "shared/footer" %>