<%# CSS・・・assets/stylesheets/articles/new.scss %>
<%= render "shared/header" %>

<div class="new_article_editor_back_ground">
<div class="dammy">
  <div class="new_article_editor">
    <h1 class="post_title">POST A NEW ARTICLE</h1>

    <%= form_with(model: @article, url: articles_path, local: true) do |f| %>
      <%= render "shared/error_messages", model: f.object %>

      <div class="new_article_editor_title", id="article_title">
        <%= f.label :Title, {class: 'new_article_title_editor'} %> <br>
        <%= f.text_field :title, placeholder: '    Type a title...', autofocus: true, :class => 'new_article_title_editor_box' %>
      </div>
      
      <div id="article_text">
        <%= f.label :内容 %>
        <%= f.rich_text_area :content, placeholder: 'Type a content...' %>
      </div>

      <div class='register-btn'>
        <%= f.submit "記事投稿" ,class:"regist_article" %>
      </div>
    <% end %>
  </div>
</div>
</div>
<%= render "shared/footer" %>