<h1><%= @article.title %></h1>
<h1>投稿者：<%= "#{@article.user.last_name}  #{@article.user.first_name}  さん" %></h1>

<div id="article_content">
  <%= @article.content %>
</div>

<ul>
  <li><%= link_to 'トップページに戻る', root_path, class: "top_path" %></li>
  <li><%= link_to '記事一覧に戻る', articles_path, class: "articles_path" %></li>
</ul>