<%# CSS・・・assets/stylesheets/users/index.scss %>
<%= render "shared/header" %>

<div class="users_index_wrap">
  <h1 class="user_viewer_profile_title">USERS INDEX</h1>

  <table class="users_index_profile">
  <% @users.each do |user| %>
    <tr class="users_list">
      <th class="users_index_icon">
      <% if user.image.attached? %>
        <%= link_to image_tag(user.image, class:"user_image"), user_path(user.id) %>
      <% else %>
        <%= link_to image_tag("no_image_square.jpg", class:"user_image"), user_path(user.id) %>
      <% end %>
      </th>
      <th class="users_index_name">
        <%= link_to "#{user.last_name} #{user.first_name}さん", user_path(user.id), :class => "users_index_username" %>
      </th>
      <th class="users_index_profile">
        <% if user.profile.length >= 100 %>
          <%= user.profile.truncate(100) %>
        <% else %>
          <%= user.profile %>
        <% end %>
      </th>
    </tr>
  <% end %>
  </table>

  <ul>
    <li><%= link_to "トップページに戻る", root_path %></li>
  <ul>
</div>