<h1><%= "#{@user.last_name}  #{@user.first_name}  さんのプロフィール" %></h1>

  <div id="name">
    <% if @user.image.attached? %>
      <%= image_tag @user.image, class:"user_img" %>
    <% else %>
      <%= image_tag "no_image_square.jpg", class:"user_img" %>
    <% end %>
  </div>

<% if @user.id = current_user.id %>
  <div id="certificate_number">在籍番号：  
    <%= @user.certificate_number %>
  </div>

  <div id="email">メールアドレス：
    <%= @user.email %>
  </div>
<% end %>

  <div id="name">学部・学科：  
    <%= @user.department.name %>
  </div>

  <div id="name">氏名：  
    <%= "#{@user.last_name}  #{@user.first_name}" %>
  </div>

  <div id="name_kana">ヨミガナ：  
    <%= "#{@user.last_name_kana}  #{@user.first_name_kana}" %>
  </div>

  <div id="sex">性別：  
    <%= @user.sex.name %>
  </div>

  <div id="position">在籍区分：  
    <%= @user.position.name %>
  </div>

  <div id="profile">プロフィール：  
    <%= @user.profile %>
  </div>

<% if @user.id = current_user.id %>
  <div>
    <%= link_to "編集する", edit_user_registration_path %>
  </div>
    <div>
    <%= link_to "退会する", retirement_path %>
  </div>
<% end %>

  <div>
    <%= link_to "トップページに戻る", root_path %>
  </div>