<%# CSS・・・assets/stylesheets/shared/header.scss %>
<header class='site-header'>
  <div class="nav_header">
    <div calss="site_header_logo">
      <%= link_to image_tag("college_logo.png",class: "site_header_logo", :alt => "mono shiri college"), root_path %>
    </div>
    <div class="site_gnav_innner">
      <div class="site_gnav_list", id="site_gnav_list">
        <div class="top", id="top_btn">
          <%= link_to "TOP", root_path %>
        </div>
        <div class="news", id="news_btn">
          <%= link_to "NEWS",'#' %>
        </div>
        <div class="articles", id="articles_btn">
          <%= link_to "ARTICLES", articles_path %>
        </div>
        <div class="users", id="users_btn">
          <%= link_to "USERS",users_path %>
        </div>
      </div>
    </div>
    <div class="site_gnav_sns">
      <%= link_to image_tag("twitter_logo", class: "twitter_logo"), "#", target: "_blank" %>
    </div>
    <div class="user_data">
      <div class="certificate_number">
          <%= "ID： #{current_user.certificate_number}" if user_signed_in? %>
      </div>
      <div class="user_name">
        <% if user_signed_in? %>
          <%= "#{current_user.last_name}  #{current_user.first_name}  さん" %>
        <% else %>
          <div class="log_in_btn">
            <%= link_to 'LOG_IN', new_user_session_path, class: "login" %>
          </div>
          <div class="sign_in_btn">
            <%= link_to 'SIGN_UP', new_user_registration_path, class: "sign_up" %>
          </div>
        <% end %>
      </div>
      <div class="user_aicon">
        <% if user_signed_in? && current_user.image.attached? %>
          <%= link_to image_tag(current_user.image, class:"user_image"), user_path(current_user.id) %>
        <% end %>
      </div>
    </div>

  </div>
</header>
