<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "例）hoge@gmail.com" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, id:"password" %>
  </div>

  <div class="password_field">
    <input type="checkbox" id="password_checkbox_1">
    <label for="password_checkbox_1">  パスワードを表示する</label>
  </div>

  <div class="log_in">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<ul>
  <li><%= link_to 'ユーザ登録', new_user_registration_path, class: "top_path" %></li>
  <li><%= link_to 'トップページに戻る', root_path, class: "top_path" %></li>
</ul>